nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 100%;
    align-items: center;
    margin: 10px 40px;
}

.navBlock {
    display: flex;
}

.logo {
    height: 34px;
}

.navList {
    display: flex;
    list-style: none;
}

.navList li {
    margin: 0 10px;
}

.navIcons {
    display: flex;
}

.navIcon1 {
    height: 13px;
    margin: 0 10px;
}

.navIcon2 {
    height: 21px;
    width: 24px;
    margin: 0 10px;

}