nav {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 34px;
}
.navList {
    list-style: none;
    display: none;
}

.navIcons {
    display: flex;
}

.navIcon1 {
    height: 13px;
    margin: 0 10px;
}

.navIcon2 {
    height: 21px;
    width: 24px;
    margin: 0 10px;

}
@media  screen and (min-width:700px) {
    
    .navBlock {
        display: flex;
    }
    .navList {
        display: flex;
    }
    .navList li {
        margin: 0 10px;
    }
}
/* @media  screen and (min-width:700px) {
    

    nav {
        display: flex;
        justify-content: space-between;
        height: 70px;
        max-width: 100%;
        align-items: center;
        margin: 10px 40px;
    }
    
    
    
    
    
} */